<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- console debug -->
	<appender name="CONSOLE_DEBUG" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%p] | %c | %m \r\n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
		</filter>
	</appender>
	<appender name="CONSOLE_ERROR" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%p] | %c | %m \r\n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
		</filter>
	</appender>
	<!-- file info -->
	<appender name="FILE_INFO" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'.'yyyyMMdd" />
		<param name="Append" value="true" />
		<param name="file" value="${log4j.WebApp.root}/log/info.txt" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%p] | %c | %m \r\n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="INFO" />
		</filter>
	</appender>
	<!-- file warn error fatal -->
	<appender name="FILE_ERROR" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'.'yyyyMMdd" />
		<param name="Append" value="true" />
		<param name="file" value="${log4j.WebApp.root}/log/error.txt" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="\r\n%d{yyyy-MM-dd HH:mm:ss} [%p] | %c | %m \r\n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
		</filter>
	</appender>
	<!-- rocket error warm  info  -->
	<appender name="ROCKET_ERROR" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'.'yyyyMMdd" />
		<param name="Append" value="true" />
		<param name="file" value="${log4j.WebApp.root}/log/rocket_error.txt" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="\r\n%d{yyyy-MM-dd HH:mm:ss} [%p] | %c | %m \r\n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN" />
			<param name="LevelMax" value="ERROR" />
		</filter>
	</appender>
	<appender name="ROCKET_INFO" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'.'yyyyMMdd" />
		<param name="Append" value="true" />
		<param name="file" value="${log4j.WebApp.root}/log/rocket_info.txt" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="\r\n%d{yyyy-MM-dd HH:mm:ss} [%p] | %c | %m \r\n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="INFO" />
		</filter>
	</appender>
	
	<logger name="com.dang.rocket" additivity="false">
		<appender-ref ref="ROCKET_ERROR" />
		<appender-ref ref="ROCKET_INFO" />
	</logger>	
	
	<root>
		<priority value="INFO" />
		<appender-ref ref="CONSOLE_DEBUG" />
		<appender-ref ref="FILE_INFO" />
		<appender-ref ref="FILE_ERROR" />
	</root>
</log4j:configuration>
